@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Smooch+Sans:wght@300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* button {
  border: none;
  background-color: transparent;
}
* button:hover {
  border: none;
  background-color: rgba(85, 85, 255, 0.226);
  border-radius: 60%;
}
body {
  background: #efefef;
}
.Montserrat {
  font-family: "Montserrat", sans-serif;
}
.BhuTuka {
  font-family: "BhuTuka Expanded One", cursive;
}
.Smooch {
  font-family: "Smooch Sans", sans-serif;
}
#board {
  -webkit-print-color-adjust: exact;
}
.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;
  width: 45vw;
  margin-left: auto;
  margin-right: auto;
}

.welcome-page .links {
  margin: 2vh;
}
.welcome-page .links a {
  color: black;
  text-decoration: none;
  margin: 1vw;
}
.tool-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.tool-bar .tools {
  height: 7vh;
  padding: 0 1vw;
  background: #efefef;
  box-shadow: 5px 5px 10px #dedede, -5px -5px 10px #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tool-bar .tools .tool {
  height: 5vh;
  width: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1vw;
}
img {
  height: 4vh;
  width: 4vh;
}
.circle {
  border-radius: 60%;
}
.item {
  position: absolute;
  z-index: 2;
  background-color: red;
  border: 1px solid #d3d3d3;
  text-align: center;
  height: 5vh;
  min-width: 5vh;
  resize: none;
}
.triangle {
  width: 40px;
  height: 40px;
  background: green;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.resizer {
  height: 10px;
  width: 10px;
  border-radius: 60%;
  background: white;
  border: 3px solid black;
  z-index: 3;
  position: absolute;
  display: none;
}
.focus .resizer {
  display: block;
}
.tl {
  top: -1px;
  left: -1px;
  cursor: nw-resize;
}
.tr {
  top: -1px;
  right: -1px;
  cursor: ne-resize;
}
.bl {
  bottom: -1px;
  left: -1px;
  cursor: sw-resize;
}
.br {
  bottom: -1px;
  right: -1px;
  cursor: se-resize;
}
.t {
  top: 0;
  left: 40%;
  cursor: n-resize;
}
.text {
  display: flex;
  float: left;

  text-align: center;
  line-height: 24px;
  vertical-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.Resize-Active {
  resize: both;
  overflow: auto;
}
.font-list {
  display: none;
}
.txt:hover .font-list {
  display: flex;
  flex-direction: column;
  position: inherit;
  transform: translateY(5vh);
}

#projectname {
  height: 7vh;
  border: none;
  border-bottom: #1d1d1d solid 3px;
  background: #efefef;
}
#projectname:focus {
  border-bottom: transparent;
  outline: none;
}
#projectname::placeholder {
  color: #1d1d1d;
}
